name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v1
        with:
          globs: '**/*.md'

      - name: Check links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          base-branch: main
          config-file: |
            {
              "ignorePatterns": [
                {"pattern": "^https?://stackoverflow\\.com"},
                {"pattern": "^https?://.*\\.stackexchange\\.com"}
              ]
            }
